[Desktop Entry]
Name=VAT Refunder
Exec=sh -c "$HOME/vat_refunder/start.sh"
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=Office;
